DATABASE_URL=
JWT_SECRET=
EMAIL_VERIFICATION_SECRET=
MAILTRAP_API_TOKEN=
MAILTRAP_TEST_INBOX_ID=
MAILTRAP_FROM_EMAIL=no-reply@foodio.test
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
RATE_LIMIT_SECRET=